*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

.container{
    width: 960px;
    margin: 0 auto;   
}

/* navigation bar */
nav{
    height: 80px;
    background-color: crimson;
    line-height: 80px;
}

nav::after{
    content: "";
    display: block;
    clear: both;
}

.nav-logo{
    font-size: 30px;
    float: left;
    margin: 0;
}

.nav-menu{
    float: right;
}

.nav-btn{
    list-style: none;
    margin: 0;
}

ul.nav-btn > li {
    float: left;
    font-size: 20px;
    margin-left: 25px;
    font-weight: bold;
}

/* header */

.hd{
    position: relative;
    height: 600px;
    text-align: center;
}

.hd-title{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 200px;
}

.hd-content{
    font-size: 20px;

}

.hd::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url("./thumbnail.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.hd .container{
    position: relative;
    color: black;
}
/* section */

.sec{
    text-align: center;
    padding: 100px 0;
    background-color: #fccfcf;
}

.sec article{
    float: left;
    width: 300px;
    margin-right: 30px;
}

.sec article:last-child{
    margin-right: 0;
}

.sec article img{
    width: 100%;
    height: auto;
}

.card-image{
    overflow: hidden;
    width: 300px;
    height: 300px;
}

.sec::after{
    content: "";
    display: block;
    clear: both;
}
/* footer */
footer{
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 207, 207);
    font-weight: bold;

}